<div>
  <svg viewBox="0 0 150 150" width="150px">
    <polygon points="1,1 1,149 149,149, 149,1" stroke="#669"></polygon>
    <polygon points="42,42 44,42 44,44, 42,44" fill="#669"></polygon>
    <polygon points="60,60 62,60 62,62, 60,62" fill="#669"></polygon>
    <polygon points="60,66 62,66 62,68, 60,68" fill="#F00"></polygon>
    <polygon points="54,54 56,54 56,56, 54,56" fill="#669"></polygon>
    <polygon points="50,50 52,50 52,52, 50,52" fill="#0F0"></polygon>
  </svg>
</div>
