<div>
  <h2>Crew:</h2>
    <div *ngFor='let crewMember of shipsCrew' (click)='onSelect(crewMember)' [class.selected]='crewMember === selectedCrew'>
      <app-crew-member [crewMember]='crewMember'></app-crew-member>
    </div>
</div>
