<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id="title">
    {{ title }}
  </h1>
  <p>
    Time: {{ elapsedTick }}
  </p>
</div>
<app-crew></app-crew>
<app-ship></app-ship>
<app-map></app-map>
