<div>
  <p>
    <span>Name: </span>{{ crewMember.name }}
  </p>
  <p>
    <span>Experience: </span>{{ crewMember.experience | number: '0.2-2' }}
  </p>
  <p>
    <span>Health: </span>{{ crewMember.health/100 | percent }}
  </p>
</div>
