<div>
  <h2>Ship</h2>
  <div>
    <p>
      Name: <b><input [(ngModel)]='ship.name' placeholder="name" /></b>
    </p>
    <p>
      Location: <b>({{ ship.x_location | number: '3.2-2' }}, {{ ship.y_location | number: '3.2-2' }})</b>
    </p>
    <p>
      Maximum speed: <b>{{ ship.speed }}</b>
    </p>
  </div>
</div>
