
h1 {
  color: green;
  font-size: 200%
}

h2, h3 {
  color: green;
  font-size: 150%
}

span {
  color: green;
  font-size: 90%
}

div {
  border-width: thin;
  border-color: red;
  border-style: solid;
}

.selected {
  border-width: thin;
  border-color: blue;
  border-style: solid;
}

* {
  font-family: monospace;
  background-color: black;
  color: white;
}
